body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

.header {
    background: rgb(227, 231, 228);
    margin: 0 auto;
    padding: 10px 10px;
}

/* Menu de Navegacion */
.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: row;
    padding: 0 100px;
}

.menu img {
    height: 100px;  
}

.header-text {
    text-align: center;
    align-items: center
}

.header-text h1, .header-text p {
    color: blue;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.header-text h1 {
    font-size: 2.5rem; /* Ajusta según sea necesario */
}

.header-text p {
    font-size: 1.5rem; /* Ajusta según sea necesario */
    margin-top: 5px; /* Espacio entre h1 y p */
}


.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li {
    margin: 0 5px;
}

.menu ul li a {
    color: rgb(1, 14, 98);
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 20px;
} 

.menu ul li a:hover {
    color: rgb(2, 190, 2);
    transform: scale(1.1);
}


/* Estilo del contenedor principal */
.container, h1, h5, h6 {
    color: rgb(219, 221, 231);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo del carrusel */
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    height: auto;
    max-height: 500px; /* Puedes ajustar este valor para limitar la altura máxima */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}


/*FOOTER*/

.pie-depagina {
    padding: 20 0px;
    margin: 0;
    text-align: center;
}

.bottom-menu {
    background-color:rgb(242,247,243);
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    flex-direction: row;
    padding: 0 80px;

}

.bottom-menu h4 {
color:rgb(1, 91, 12);
}

.bottom-menu img {

    height: 130px;
    max-width: 130px;
    margin-top:  30px;
}

.resources,.virtual-shop,.rrss,.newsletter {
    margin: 20px;
    flex: 1; 
    min-width: 200px;
}


.resources ul {
 padding: 0;
}

.resources ul li {
    margin-bottom:5px;
    font-size: small;
}

.resources ul a {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resources ul  :hover{
    color:rgb(2, 190, 2);
}


.virtual-shop ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.virtual-shop ul {
    padding:  0;
}

.virtual-shop ul li{
    margin-bottom: 5px;
    font-size: small;
    
}
.virtual-text {
    color:rgb(1, 14, 98);

}

.rrss  li a {
    color: rgb(1, 14, 98);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.rrss  li a :hover {
    color: rgb(2, 190, 2);
}

.rrss .fa-2x{
    margin-right: 10px;
}

.newsletter input[type="email"] {
    padding: 5px;
    margin-right: 5px;
}

.newsletter p {
    font-size: small;
    margin-bottom: 16px;
}
.newsletter input [type="submit"]  {
    padding: 5px  10px;
    background-color: #9AC586;
    border: none;
    cursor:pointer ;
    color:black
}

.newsletter input[type="submit"]:hover{
    background-color:rgb(242, 250, 10);
}


